# -- Database configuration (default values, uncomment and modify as needed) --

# Database name
# POSTGRES_DB=conduit

# Database user
# POSTGRES_USER=conduit

# Database password
# POSTGRES_PASSWORD=conduit

# Database host and port
# POSTGRES_HOST=localhost
# POSTGRES_PORT=5432

# -- App configuration --

# The backend API URL (must be publicly accessible, used by the frontend to communicate with the backend)
API_URL=http://example.org:8080/api

# The external backend port (used to access the API from the host machine)
BACKEND_PORT=8080

# The external app port (used to access the frontend from the host machine)
APP_PORT=3000

# REQUIRED: Secret key for Django (generate one using "openssl rand -hex 32")
API_SECRET_KEY=your-secret-key-here

# Allowed hosts for Django (comma-separated)
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,0.0.0.0

# Allowed CORS origins (comma-separated)
CORS_ORIGIN_WHITELIST=http://127.0.0.1,http://localhost,http://0.0.0.0

# Set to False in production
DEBUG=True